.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.list {
    margin: 5px;
    
}

.complated{
    text-decoration: line-through;
}

.list span{
    margin: 5px;
}